
.container-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.diap-it{
    width: 100vw;
    background-color: #928d80ce;
    height: fit-content;
}


.diaporama {
    width: 100vw;
    border: solid red 1px;
    border-top: red solid 3px !important;}

.diapo_img{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    object-fit: cover;
    background-color: aquamarine;
}


@media screen and (max-width: 768px) {
    .diapo_img{
        width: 768px !important;
        height: 480px !important;
    }
}

.diap_btn{
    position: absolute;
    border: solid;
    margin-top: 20vh;
    height: 50px;
    width: 20px;
    line-height: 60px;
    font-size: 28px;
    cursor: pointer;
}

.diap-title{
    position:absolute;
    color: rgb(11, 231, 11);
    font-size: 10.4vw;
    padding-left: 1%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 200%;
    opacity: 0.8;
}


.diap_btn:hover{
    background-color: rgba(231, 226, 219, 0.63);
}

.db1{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 10px;
    background-color: #0000008c;
}

.db2{
    right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    background-color: #0000008c;
}

.elt-container{
    border: solid white 1px !important;
    border-radius: 20px;
    margin-top: 35px;
    box-sizing: border-box;
    display: flex;
    padding-bottom:50px ;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width > 768px) {
    .elt-container{
        flex-direction: column !important;
    }
}

.diap-text{
    width: 100vw;
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
}

.text{
    margin: 0 auto;
    color: rgb(11, 231, 11);
    opacity: 0.6;
    font-size: 100px;
}

.content-elt{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    border: white solid 1px;
    border-radius: 20px;
    padding: 14px;
}

.content-title{
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    margin-left: 20px;
    font-size: 28px;
}

.content{
    overflow-y: scroll;
    color: gray;
    margin: 0 auto;
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;
}

.content::-webkit-scrollbar{
    display: unset;
}

.spe {
    border: double rgb(83, 143, 143) !important;
}

.spe2{
    color: rgb(83, 143, 143) !important;
}