html {
    scroll-behavior: smooth;
  }

body{background-color:#292F36;}


.navcard {
    border-right: 1px solid rgb(76, 114, 114);

    background-color: #C6C7BE;

    width: 18rem;
    height: max-content;
    padding-bottom: 1rem;
    border-bottom-right-radius:2rem ;
    left: 0;
    position: sticky;
}


.bar {
    border-bottom: #292F36 solid;
    margin-left: 2rem;
    margin-right: 10%;
}

.ext_links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    position: absolute;
    left: 90rem;

    border: #4395f3;

}

.icon {
    width: 50px;
    height: 50px;
    scale: 0.1;
}


.img_nav img {
    float: left;
    margin-left: 2.5rem;
    margin-top: 10px;
    border-radius: 10rem;
    border: solid #292F36 ;
}

.navcard ul li{
    transition-delay: 0.05s;
    text-align: left;

    padding: 1rem;
    border-radius: 10em;


    list-style-type: none;
    font-size: 1.7rem;
}   

.navcard ul li:hover{
    background-color: #899899;
}

.navcard ul li a {
    text-decoration: None;
    color: black;
}

.Contacts {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 10%;
}
.Contacts p {
    font-size: 0.8rem;
}


.title{
    top: 0em;
    left: 20rem;
    position: absolute;
    width: 60rem;
}

.big_tittle {font-size: 3.5em;color: #929c9c;}

.small_tittle {font-size: 3em;left:30%;top:60%;position: absolute;color:#2bec2b;}



.img_acc img{
    width: 50em;

    margin-left: 20rem;
    margin-top:15rem;
    height:30rem;
}



.description {
    position: absolute;

    top: 47em;
    left: 20rem;

    width: 60%;
}

.description ul li {
    color: #8b968b;
}

.main-container {
    left: 10vw;
    position: absolute;
    top:0;
}

.paragraphe {
    color:gray;
    font-family: "Helvetica Neue",Helvetica;
    font-size: 1.2rem;
    width:100%;
    top:2px;
    margin-top: 2rem;
}

.titless {
    margin-top: 6rem;
    color:rgb(21, 168, 21);
    font-size: 1.7rem !important;
}



.paragraphe p {margin-left: 2.5rem;}

.paragraphe ul {margin-left:1.7rem}


.question_big{
    text-decoration: underline;
    size: 3em;
    margin-left: 1rem;

}

.reservations {

    left: 20%;

    color:#8b968b;
    text-decoration: None;
    font-size: larger;

}
.rdv_txt{font-size: 0.8rem;}

.rdv_txt img{
    margin-left: 5%;
    max-width: 30%;
    height: auto;  
}


.map {
    width: 100%;
}

.diplome_view {width: fit-content;}

.diplome_view img{
    width: 50rem;
    height: 32rem;
}

.diplome_view button {
    color: #4e91df;
    border: none;
    width: 5rem;
    display: inline-block;
    text-decoration:none;
    cursor:pointer;
    white-space:normal;
    border: solid;
}

.diplome_view button:hover{color:#fff!important;background-color:rgba(88, 106, 185, 0.699)!important}




footer {
    margin-top: 10rem;
    border-radius: 10px;
    padding: 2rem;
    border: solid #899899 2px;
    color: white;
    width: 50rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
}

footer a{
    text-decoration: none;
    color: #899899;
    transition-delay: 0.05;
    border: solid 1px #899899;
    padding: 1rem;
    margin-left: 4rem;
    border-radius: 1rem; ;
    font-size: 1.5rem;
}

footer a:hover{
    background-color: #526464;
}

.foot {
    margin-top: 5rem;
    float: right;
}

.fot_bar a{
    color : rgb(21, 168, 21)
}